.container {
  display: flex;
  padding: 0 5%;
  gap: 5%;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
    padding: 0;
  }
}
